.filter-options {
  background-color: #FFF;
  border: 3px solid #000;
  color: #000;
  cursor: pointer;
  font-family: 'SamsungSharpSans-Bold';
  font-size: 2vw;
  height: 10vh;
  transition: ease 0.3s;
  width: calc(100%/3);
}

.filter-options:hover {
  background-color: #000;
  border: 3px solid #FFF;
  color: #FFF;
}
