.l-single-artist {
  color: #FFF;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.l-single-artist:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.l-name-tag {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  height: 12vw;
}

.l-single-artist-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.single-artist-name {
  margin: 0;
  font-family: 'SamsungSharpSans-Bold';
}

.single-artist-tag {
  height: 8vw;
  width: 14vw;
}

.single-artist-image {
  transition: ease-in .1s;
  height: 12vw;
  width: 25vw;
}

.single-artist-image:hover {
  transform: scale(1.3);
}
