.l-single-artist {
  background-color: #fff;
  color: #000;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.l-name-tag {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  height: 12vw;
  color: black;
  text-decoration: none;
}

.l-single-artist-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.single-artist-name {
  margin: 0;
  font-family: 'SamsungSharpSans-Bold';
}

.single-artist-tag {
  height: 8vw;
  width: 14vw;
}

.single-artist-image {
  transition: ease-in .1s;
  height: 12vw;
  width: 25vw;
}

.single-artist-image:hover {
  transform: scale(1.2);
}
