.main-section {
  background-color: none;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1.4px;
  line-height: 1.5;
  padding: 0 50px;
  width: 50%;
}

.latest, .experience {
  background-color: #000;
  color: #FFF;
}

.seen {
  background-color: #FFF;
  color: #000;
}

.content h2 {
  font-size: 5vw;
  line-height: 1.2;
  margin-bottom: 0;
}

.content p {
  font-size: 1.8vw;
}

.main-section-image {
  height: 100%;
  width: 50%;
}

.artists .main-section-image {
  object-fit: cover;
}

.seen img{
  object-fit: contain;
}

.experience img {
  object-fit: cover;
}
