@font-face {
  font-family: 'Samsung Sharp Sans Regular Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Regular Regular'), url('../assets/SamsungSharpSansRegular-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SamsungSharpSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SamsungSharpSans-Bold'), url('../assets/samsung_s_sharp_by_629lyric-d8y77l9.woff') format('woff');
}

@font-face {
  font-family: 'Tag-Type';
  font-style: normal;
  font-weight: normal;
  src: local('Tag-Type'), url('../assets/tagtype-freefont.woff') format('woff');
}

video,
.title {
  height: 100vh;
  object-fit: cover;
  width: 100%;
  z-index: -69;
}

.main {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Tag-Type';
  font-size: 13vw;
}

h1 {
  text-shadow: 3px 3px rgb(56, 55, 55);
}

.whats-hot {
  flex-direction: row-reverse;
}
